{% extends 'admin/admin_base.html.twig' %}

{% block title %}Admin - Modifier membre{% endblock %}
{% block admin_title %}Modifier membre{% endblock %}
{% block admin_subtitle %}{{ user.pseudo }} (ID #{{ user.id }}){% endblock %}

{% block admin_content %}
    <div class="card bg-dark border-danger">
        <div class="card-body">

            {{ form_start(form) }}

            <div class="row g-3">
                <div class="col-12 col-md-6">
                    {{ form_row(form.characterName) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.combatRole) }}
                </div>

                <div class="col-12 col-md-6">
                    {{ form_row(form.characterClass) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.characterSpec) }}
                </div>

                <div class="col-12 col-md-6">
                    {{ form_row(form.isGuildMember) }}
                </div>
                <div class="col-12 col-md-6">
                    {{ form_row(form.isPublicMember) }}
                </div>
            </div>

            <div class="mt-3 d-flex gap-2">
                <button class="btn btn-danger">Enregistrer</button>
                <a class="btn btn-outline-light" href="{{ path('admin_members_index') }}">Retour</a>
            </div>

            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}
